*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debugger{
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.4);
}

/* HEADER */
.header-container{
    width: 100%;
    height: 100px;
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #CBCBCB;
}

.google-logo{
    width: 30%;
}

.google-logo img{
    width: 20%;
    object-fit: cover;
}

.google-apps i{
    font-size: 20px;
    margin-right: 15px;
}

.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav ul,
footer nav ul{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}


.bottom-header nav ul li{
    margin-right: 40px;
    padding-bottom: 8px;
}

.bottom-header nav ul li a{
    text-decoration: none;
    color: #7D8185;
}

.bottom-header nav ul li.active{
    color: #3669D7;
    border-bottom: 2px solid #3669D7;
}

.bottom-header nav ul li.active a{
    color: #3669D7;
}
/* /HEADER */

/* MAIN */
.text-container{
    width: 40%;
    margin: 100px auto;
}
.paragraph-title{
    color: #3C4043;
    margin-top: 70px;
}

.faq-text p{
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
}

.faq-text a{
    text-decoration: none;
    color: #3367D6;
}

.faq-text ul,
.faq-text li{
    margin: 15px 0;
    font-size: 14px;
}

.faq-text ol{
    margin-top: 15px;
    font-size: 14px;
}

/* /MAIN */

/* FOOTER */

footer{
    height: 50px;
    background-color: #F5F5F5;
}

.footer-container{
    width: 40%;
    height: 100%;
    margin: 0 auto;
}

.footer-nav,
.footer-nav nav{
    height: 100%;
}
.footer-nav nav ul li{
    margin-right: 40px;
}
/* /FOOTER */